.filter {
  width: 50%;
  background-color: var(--element);
  transition: background-color var(--as);
  padding: 10px;
  outline: none;
  color: var(--text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: var(--br);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
.filter option {
  font-weight: 600;
}
@media (min-width: 768px) {
  .filter {
    width: auto;
  }
}
